<h1><%= @task.title %></h1>
<p>Find me in app/views/task_items/index.html.erb</p>

<ul class="task_items">
	<% @task.task_items.each do |task_item| %>
	<li><%= task_item.content %>
	</li>
	<% end %>
</ul>
