<h1><%= @task.title %></h1>


<ul class="task_items">
	<% @task.task_items.each do |task_item| %>
	<li><%= task_item.content %>
	</li>
	<% end %>
</ul>

<p>
	<%= link_to "New Todo Item", new_task_task_item_path %>
</p>
